@page
@model Presentation.Pages.AdminModel.AdminModel
@{

}
<div class="mt-5 mx-auto" style="max-width:300px">
    <a asp-page="./ManageCustomers/Index" class="btn btn-dark btn-lg mb-3 w-100">Manage Customers</a>
    <a asp-page="./ManageCars/Index" class="btn btn-outline-dark btn-lg mb-3 w-100">Manage Cars</a>
    <a asp-page="./ManageTransactions/Index" class="btn btn-dark btn-lg mb-3 w-100">Manage Transactions</a>
    <form asp-page-handler="Create" method="post">
        <button class="btn btn-lg btn-outline-dark mb-3 w-100">Export Excel</button>
    </form>
    <form asp-page-handler="SignOut" method="post">
        <button class="btn btn-dark btn-lg mb-3 w-100">Sign Out</button>
    </form>
</div>
