@page
@model Presentation.Pages.AdminModel.AdminModel
@{

}
<div class="mt-5 mx-auto" style="max-width:300px">
    <button type="button" class="btn btn-dark btn-lg mb-3 w-100">Manage Customers</button>
    <button type="button" class="btn btn-outline-dark btn-lg mb-3 w-100">Manage Cars</button>
    <button type="button" class="btn btn-dark btn-lg mb-3 w-100">Manage Transactions</button>
    <button type="button" class="btn btn-outline-dark btn-lg w-100">Export Excel</button>
</div>
