@page
@model Presentation.Pages.AdminPage.ManageTransactions.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

    <div class="list-group mt-5">
        <div class="list-group-item">
            <div class="row">
                <div class="col-sm-2 fw-bold">Renting Date</div>
                <div class="col-sm-10">@Model.RentingTransaction.RentingDate</div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-sm-2 fw-bold">Total Price</div>
                <div class="col-sm-10">@Model.RentingTransaction.TotalPrice</div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-sm-2 fw-bold">Renting Status</div>
                <div class="col-sm-10">@Model.RentingTransaction.RentingStatus</div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-sm-2 fw-bold">Customer Email</div>
                <div class="col-sm-10">@Model.RentingTransaction.Customer.Email</div>
            </div>
        </div>
    </div>
    
    <form method="post">
        <div class="d-flex gap-3 mt-3">
            <a class="btn btn-outline-dark"  asp-page="./Index">Back</a>
            <input type="hidden" asp-for="RentingTransaction.RentingTransationId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </form>
